<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <bean id="pooledstats"
          class="info.yangguo.waf.util.PooledAllocatorStats"/>
    <bean class="org.springframework.jmx.export.MBeanExporter"
          lazy-init="false">
        <property name="beans">
            <map>
                <entry key="info.yangguo.waf:name=pooledstats"
                       value-ref="pooledstats"/>
            </map>
        </property>
    </bean>
</beans>