<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender class="org.apache.log4j.ConsoleAppender" name="stdout">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d{yyyy-MM-dd HH:mm:ss} [%p]-[%t]-[%X{traceId}]-[%l] %m%n"
                   name="ConversionPattern"/>
        </layout>
    </appender>

    <logger name="org">
        <level value="info"/>
    </logger>
    <logger name="com">
        <level value="info"/>
    </logger>
    <root>
        <level value="info"/>
        <appender-ref ref="stdout"/>
    </root>
</log4j:configuration>